<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="\css\home.css">
</head>
<body>
    {{>header}}
    <a href="/">home</a>
    <h1 class ="head">This is {{title}} Page</h1>
</body>
</html>