<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="\css\home.css">
    
</head>
<body>
     {{>header}}
    <div class="links">
        <a href="./about">about</a>
        <a href="/">Home</a>
        <a href="./weathers?location=jaspur">Weather</a>
    </div>
    <h1 class ="head">This is {{title}} Page</h1>
    <p class="data">Enter your location to know current weather</p>
    <form>
        <input placeholder="location" class="loc">
        <button type="submit" class="submit"> search</button>
    </form>
    <p class="data1 data"></p>
    <p class="data2 data"></p>
    <script src="\js\app.js"></script>
</body>
</html>